body {
    background-color: $dark;
}

.header {
    z-index: 1;
    position: absolute;
    width: 100%;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
        h1 {
            color: white;
            font-family: $logofont;
            font-weight: lighter;
        }
    }
    .header__right {
        .header__menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            a {
                color: white;
                font-family: $headerfont;
            }
            button {
                @extend %button-primary;
            }
        }
    }
}
