/* @media screen and (max-width:480px) {
    body {
        min-width: 100%;
    }
    .hero__main {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
        .main__text {
            padding: 5rem 0rem;
            width: 100%;
            max-width: 100%;
            .text__container {
                max-width: 100%;
                width: 100%;
                h2 {
                    font-size: 6rem;
                }
        }

        }
    }
} */